.navbar{
    background-color: #da1214;
    height: auto;
    color: rgb(255, 255, 255);
    padding: 10px 40px 0px 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: white;
    justify-content: space-between;
}
/*Clase modifica los hipervinculos*/
.hiper{
    text-decoration: none;
    color: black;
    margin: 0 20px 0 20px;
}
/*estilo de icono*/
.icono-delivery-01{
    width: 20px;
}
a.navbar-brand{
    color: white;
}

.no-hover .nav-link {
  color: inherit; /* Mantiene el color original */
  text-decoration: none; /* Opcional: quita subrayado */
  font-size: 13px;
  justify-content: right;
  padding-top: 0px;
}

.no-hover {
  color: inherit; /* Evita que cambie al pasar el cursor */
  text-decoration: none;
  background-color: transparent; /* Por si Bootstrap aplica fondo */
}
/*Logo de wsp*/
div.whatsapp {
  position: fixed;
  bottom: 20px;     /* distancia desde abajo */
  right: 20px;      /* distancia desde la derecha */
  background-color: rgba(188, 188, 188, 0.9); /* fondo rojo semi-transparente */
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 9999;    /* asegura que esté por encima de otros elementos */
}

div.whatsapp img {
  width: 30px;
  height: auto;
}

div.whatsapp span {
  color: rgb(0, 0, 0);
  font-size: 14px;
}
/*Menu de Productos*/
.menu-productos {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 50px;
  padding-top: 30px;
  gap: 20px;
  text-decoration: none;
  list-style-type: none;
}

.menu-productos a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}   

.menu-productos img {
  vertical-align: middle;
  padding-right: 10px;
}
/*Mostrar Productos con cursor*/
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

